In [8]:
def findTimeDifference(string):
    h=list(map(int,string.split()))
    m1=h[0]*60+h[1]
    m2=h[2]*60+h[3]
    
    finaldiff=m2-m1
    hours=finaldiff//60
    minutes=finaldiff%60
    print(hours,"",minutes)
    
n=int(input())
for time in  range(n):
    string=input()
    findTimeDifference(string)

2
2 42 8 23
5   41
1 44 2 14
0   30

In [1]:
filepath='Datafiles/IncomeData.csv'

import pandas as pa
def GetIncomeDataFromCSV(filepath):
    return pa.read_csv(filepath)

GetIncomeDataFromCSV(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [11]:
# Average Income of all ststes from 2005 to 2013
incomedf=GetIncomeDataFromCSV(filepath)
def RowAccessData(df):
    data=df.values
    for i in data:
        k=i[2:]
        print((sum(k)/len(k)))
    
                
RowAccessData(incomedf)

41126.444444444445
60106.555555555555
48967.88888888889
38828.88888888889
55350.444444444445

In [12]:
incomedf=GetIncomeDataFromCSV(filepath)
def RowAccessData(df):
    output=0
    data=df.values
    for i in data:
        k=i[2:]
        output=output+(sum(k)/len(k))
    print(output/len(data))
        
            
    
RowAccessData(incomedf)

48876.04444444444

In [14]:
# State with highest average income in the last three years

incomedf=GetIncomeDataFromCSV(filepath)

def AveargeLastThreeYears(df):
    list1=[]
    data1=df.values
    for data in data1:
        d=data[-3:]
        a=sum(d)/len(d)
        list1.append(a)
    print(max(list1))
        
        
        
AveargeLastThreeYears(incomedf)

60738.666666666664

In [16]:
# State with highest average income in the last three years

incomedf=GetIncomeDataFromCSV(filepath)

def AveargeLastThreeYears(df):
    dict1={}
    data2=df.values
    for data in data2:
        d=data[-3:]
        avg=sum(d)//len(d)
        dict1[avg]=data[1]
    print(max(dict1.items()))
        
        
        
AveargeLastThreeYears(incomedf)

(60738, 'Alaska')

In [17]:
# State with lowest average income from 2007 to 2010(inclusive)

incomedf=GetIncomeDataFromCSV(filepath)

def FindLowestAvearge(df):
    dict2={}
    data2=df.values
    for data in data2:
        d=data[4:8]
        avg1=sum(d)//len(d)
        dict2[avg1]=data[1]
    print(min(dict2.items()))
    
FindLowestAvearge(incomedf)

(38876, 'Arkansas')

In [33]:
# Print the list of all states in the same line with average income less than California

incomedf=GetIncomeDataFromCSV(filepath)

def PrintAverageLessCalifornia(df):
    dict3={}
    list2=[]
    data4=df.values
    for data in data4:
        d=data[2:]
        avg=sum(d)//len(d)
        dict3[avg]=data[1]
    d=sorted(dict3.items())
    for i in d:
        if i[1]=='California':
            break
        else:
            list2.append(i[1])
    print(list2)
            
    
PrintAverageLessCalifornia(incomedf)

['Arkansas', 'Alabama', 'Arizona']

In [37]:
# Print the names of states based on descending order of income in the year 2009

incomedf=GetIncomeDataFromCSV(filepath)

def PrintStateBasedonDescending(df):
    data6=df.values
    dict5={}
    for data in data6:
        g=data[6]
        dict5[g]=data[1]
    sort=sorted(dict5.items(),reverse=True)
    for state in sort:
        print(state[1])
        
PrintStateBasedonDescending(incomedf)

Alaska
California
Arizona
Alabama
Arkansas

In [ ]:
# State with the lowest recorded income from 2005 to 2013

incomedf=GetIncomeDataFromCSV(filepath)

def FindLowestIncome(df):