In [8]:
def findTimeDifference(string):
    h=list(map(int,string.split()))
    m1=h[0]*60+h[1]
    m2=h[2]*60+h[3]
    
    finaldiff=m2-m1
    hours=finaldiff//60
    minutes=finaldiff%60
    print(hours,"",minutes)
    
n=int(input())
for time in  range(n):
    string=input()
    findTimeDifference(string)

2
2 42 8 23
5   41
1 44 2 14
0   30

In [3]:
filepath='Datafiles/IncomeData.csv'

import pandas as pa
def GetIncomeDataFromCSV(filepath):
    return pa.read_csv(filepath)

GetIncomeDataFromCSV(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [11]:
# Average Income of all ststes from 2005 to 2013
incomedf=GetIncomeDataFromCSV(filepath)
def RowAccessData(df):
    data=df.values
    for i in data:
        k=i[2:]
        print((sum(k)/len(k)))
    
                
RowAccessData(incomedf)

41126.444444444445
60106.555555555555
48967.88888888889
38828.88888888889
55350.444444444445

In [12]:
incomedf=GetIncomeDataFromCSV(filepath)
def RowAccessData(df):
    output=0
    data=df.values
    for i in data:
        k=i[2:]
        output=output+(sum(k)/len(k))
    print(output/len(data))
        
            
    
RowAccessData(incomedf)

48876.04444444444

In [14]:
# State with highest average income in the last three years

incomedf=GetIncomeDataFromCSV(filepath)

def AveargeLastThreeYears(df):
    list1=[]
    data1=df.values
    for data in data1:
        d=data[-3:]
        a=sum(d)/len(d)
        list1.append(a)
    print(max(list1))
        
        
        
AveargeLastThreeYears(incomedf)

60738.666666666664

In [16]:
# State with highest average income in the last three years

incomedf=GetIncomeDataFromCSV(filepath)

def AveargeLastThreeYears(df):
    dict1={}
    data2=df.values
    for data in data2:
        d=data[-3:]
        avg=sum(d)//len(d)
        dict1[avg]=data[1]
    print(max(dict1.items()))
        
        
        
AveargeLastThreeYears(incomedf)

(60738, 'Alaska')

In [17]:
# State with lowest average income from 2007 to 2010(inclusive)

incomedf=GetIncomeDataFromCSV(filepath)

def FindLowestAvearge(df):
    dict2={}
    data2=df.values
    for data in data2:
        d=data[4:8]
        avg1=sum(d)//len(d)
        dict2[avg1]=data[1]
    print(min(dict2.items()))
    
FindLowestAvearge(incomedf)

(38876, 'Arkansas')

In [33]:
# Print the list of all states in the same line with average income less than California

incomedf=GetIncomeDataFromCSV(filepath)

def PrintAverageLessCalifornia(df):
    dict3={}
    list2=[]
    data4=df.values
    for data in data4:
        d=data[2:]
        avg=sum(d)//len(d)
        dict3[avg]=data[1]
    d=sorted(dict3.items())
    for i in d:
        if i[1]=='California':
            break
        else:
            list2.append(i[1])
    print(list2)
            
    
PrintAverageLessCalifornia(incomedf)

['Arkansas', 'Alabama', 'Arizona']

In [10]:
# Print the names of states based on descending order of income in the year 2009

incomedf=GetIncomeDataFromCSV(filepath)

def PrintStateBasedonDescending(df):
    data6=df.values
    dict5={}
    for data in data6:
        g=data[6]
        dict5[g]=data[1]
    sort=sorted(dict5.items(),reverse=True)
    for state in sort:
        print(state[1])
        
PrintStateBasedonDescending(incomedf)

Alaska
California
Arizona
Alabama
Arkansas

In [11]:
# State with the lowest recorded income from 2005 to 2013

incomedf=GetIncomeDataFromCSV(filepath)

def FindLowestIncome(df):
    dict6={}
    data=df.values
    for income in data:
        g=income[2:]
        dict6[min(g)]=income[1]
        
    p=min(dict6.items())
    print(p[1])
        
        
        

FindLowestIncome(incomedf)

Arkansas

In [ ]:
# Combined Average Income of all states from 2005 to 2013(Second model)

incomedf=GetIncomeDataFromCSV(filepath)

def AverageAllStates(df,key):
    dat=df.values
    li=[]
    li2=[]
    s=0
    for i in dat:
        if i[0]==key or i[1]==key:
            for index in range(2,len(i)-1):
                k=i[index]
                li.append(k)
            m=sum(li)/len(li)
    s=s+m
    print("sum",s)
    li2=li.append(s)
    return (sum(li2))
    
            
n=int(input())
k=list(map(str,input().split()))
for times in range(n):
    
    AverageAllStates(incomedf,k[times])

In [10]:
incomedf=GetIncomeDataFromCSV(filepath)

incomedf.index=incomedf['State']

incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
State,,,,,,,,,,,
Alabama,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
Alaska,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
Arizona,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
Arkansas,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
California,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [11]:
# State with lowest average income from 2007 to 2010(inclusive)

incomedf.iloc[:,4:8].mean(axis = 1).idxmin()

'Arkansas'

In [ ]:
# Print the list of all states in the same line with average income less than California

incomedf.iloc[:,:].mean(axis=1)

In [15]:
cali=incomedf.iloc[4:,:].mean(axis=1)

cali1=cali[0]

list(incomedf[incomedf.iloc[:,2:].mean(axis=1) < cali1].index)

['Alabama', 'Arizona', 'Arkansas']

In [1]:
# Print the names of states based on descending order of income in the year 2009

incomedf.iloc(:,7).sort(axis=1)

SyntaxError: invalid syntax (<ipython-input-1-7aed9ddf0f75>, line 3)

In [17]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [18]:
help([].append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [19]:
list1=[]
list1.append(1)

list1

[1]

In [20]:
list1.clear()

In [21]:
list1

[]

In [36]:
list1=[1,2,3,4,8,4]
n=list1
n
list1.append(6)
n

[1, 2, 3, 4, 8, 4, 6]

In [31]:
help([].count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [37]:
list1.count(4)

2

In [45]:

list2=[4,7]
list2.extend(list1)

list2

[4, 7, 1, 2, 3, 4, 8, 4, 6, '4', 'R', 'a', 'n', 'g', 'a']

In [52]:
l1=[1,2,3]
l2=[1,6,7,1]
l1.extend(l2)

l1

[1, 2, 3, 1, 6, 7, 1]

In [49]:
l1.index(3)

2

In [55]:
l1.index(1,5,7)

6

In [61]:
l1.insert(4,l2)

l1

[1, 2, 3, 1, [1, 6, 7, 1], [1, 6, 7, 1], 6, 7, 1]

In [65]:
l1.append(l2)

l1

[1, 2, 3, 1, [1, 6, 7, 1], [1, 6, 7, 1], 6, 7, 1, [1, 6, 7, 1], [1, 6, 7, 1]]

In [66]:
l1.pop()

[1, 6, 7, 1]

In [67]:
l1

[1, 2, 3, 1, [1, 6, 7, 1], [1, 6, 7, 1], 6, 7, 1, [1, 6, 7, 1]]

In [68]:
l1.pop(4)

[1, 6, 7, 1]

In [69]:
l1

[1, 2, 3, 1, [1, 6, 7, 1], 6, 7, 1, [1, 6, 7, 1]]

In [70]:
l1.pop()

[1, 6, 7, 1]

In [71]:
l1

[1, 2, 3, 1, [1, 6, 7, 1], 6, 7, 1]

In [72]:
l1.remove(1)

In [73]:
l1

[2, 3, 1, [1, 6, 7, 1], 6, 7, 1]

In [74]:
l1.reverse()

In [75]:
l1

[1, 7, 6, [1, 6, 7, 1], 1, 3, 2]

In [ ]:
s=""