In [ ]:
num=input().split()
num[0],num[1]=int(num[0]),int(num[1])
a=input().split()
sum1=[]
for i in range(num[0]):
    if i==0:
        sum1.append(int(a[i]))
    else:
        sum1.append(int(sum1[i-1])+int(a[i]))
del a

for k in range(0,num[1]):
    q=input().split()
    i=int(q[0])
    j=int(q[1])
    if i>1:
        print((sum1[j-1]-sum1[i-2])//(j-i+1))
    else:
        print(sum1[j-1]//(j-i+1))

In [ ]:
ord('a')

In [ ]:
ord('z')

In [ ]:
t='1231111'
t.count('1')

In [1]:
num=int(input())
string=input().split()
print(string,"string")
dict1={}
for i in string:
    if i in dict1:
        dict1[i]+=1
    else:
        dict1[i]=1
        
sample=int(input())
for s in range(sample):
    val=int(input())
    if str(val) in dict1.keys():
        print(dict1[str(val)])
    else:
        print("NOT PRESENT")
print(dict1.items())

5
12 24 23 12 78
['12', '24', '23', '12', '78'] string
1
12
2
dict_items([('12', 2), ('24', 1), ('23', 1), ('78', 1)])

In [2]:
type(string)

list

In [10]:
f=[1,2,3,4,5]
def add(n1,n2):
    sum1=n1+n2
    return sum1

add(1,3)

4

In [13]:
times=int(input())
for time in range(times):
    num=list(map(int,input().split()))
    values=list(map(int,input().split()))
    if num[1]==values[0]:
        print('0')
    else:
        count=0
        for k in range(1,num[1]):
            values[0]+=1
            count+=1
        print(count)

2
3 4
1 2 5
3
3 2
2 5 5
0

In [ ]:
5
5 962174
81449 573203 886006 239340 747445
10 14313
666927 252943 875489 535847 541879 751759 769369 689254 334476 119404
4 875738
70140 850401 121442 833526
4 81
180902 1672 164278 878525
9 993397
959973 546219 904051 715665 293663 402511 790865 476941 655453

In [1]:
times=int(input())
for time in range(times):
    num=input().split()
    values=input().split()
    a=int(values[0])
    if num[1]==values[0]:
        print('0')
    else:
        count=0
        for k in range(1,int(num[1])):
            a=a+1
            count+=1
            if a==int(num[1]):
                print(count)

1
5 962174
81449 573203 886006 239340 747445
880725

In [3]:
times=int(input())
for time in range(times):
    num=input().split()
    values=input().split()
    a=int(values[0])
    if int(num[1])<=a:
        print('0')
    else:
        count=0
        for k in range(1,int(num[1])):
            a=a+1
            count+=1
            if a==int(num[1]):
                print(count)

5
5 962174
81449 573203 886006 239340 747445
880725
10 14313
666927 252943 875489 535847 541879 751759 769369 689254 334476 119404
0
4 875738
70140 850401 121442 833526
805598
4 81
180902 1672 164278 878525
0
9 993397
959973 546219 904051 715665 293663 402511 790865 476941 655453
33424

In [ ]:
5
5 962174
81449 573203 886006 239340 747445--->880725

10 14313
666927 252943 875489 535847 541879 751759 769369 689254 334476 119404 --->0

4 875738
70140 850401 121442 833526--->805598

4 81
180902 1672 164278 878525--->0

9 993397
959973 546219 904051 715665 293663 402511 790865 476941 655453--->699734

In [2]:
875738-70140

805598